nav {
    background-color: darkgreen;
    padding: 15px;
}

nav a {
    color: white;
    display: block;
    padding: 5px;
}

h1 {
    color: goldenrod;
}

img {
    width: 155px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 25px gray;
}

p {
    padding: 0;
}

main {
    max-width: 900px;
}

main p {
    width: 25em;
}

main img {
    margin-left: 12%;
}

aside {
    width: 25rem;
    margin: 1rem;
    border: 2px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
    background-color: #333;
    color: #eee;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

body {
    width: 100%;
    background-color: #202020;
    color: #eee;
}

footer {
    margin-top: 25px;
    border-top: 1px solid #000;
    text-align: center;
}